Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
Plugins/*/Binaries/
Plugins/*/Intermediate/
Plugins/*/Saved/
Plugins/*/Build/

*.log
*.obj
*.pdb
*.exe
*.dll

.vs/
*.sln
*.suo
*.vcxproj
*.vcxproj.filters
*.VC.db
*.VC.opendb
*.sdf
*.opensdf

.DS_Store
Thumbs.db
